<section>
    <% posts.forEach(post => { %>
        <a href=/posts/<%= post._id %>> 
            <div>
                <h1> <%= post.title %> </h1>
                <h2> <%= post.description %> </h2>
            </div>
        </a>
    <% }) %>
    
</section>